.aip-codriver-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0,0.8);
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 18px;
}

.controls {
  font-size: 16px;
  /* margin-left: 4px; */
}

.control {
  /* margin-left: 4px; */
}

.control-label {
  margin-left: 0.8em;
  margin-bottom: -10px;
}
