.ai-pacenotes-recce {
    display: flex;
    flex-direction: column;

    font-family: monospace;

    margin: 0.25em;
    padding: 0;
    width: 100%;
    height: 100%;
}

.recce-controls {
    display: flex;
    flex-direction: column;
}

.recce-control {
    border-bottom: 1px solid white;
    margin: 0.5em 1em 0em 1em;
    padding: 0.5em 0em 0em 0em;
}

.recce-controls-btn {
    font-family: monospace;
    border: 1px solid rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0.1em;
}

.btn-disabled {
/* .recce-controls-btn[disabled] { */
    /* background-color: rgba(55, 55, 55, 1.0) !important; */
    /* color: rgba(0, 0, 0, 0.43) !important; */
    color: hsla(0, 0%, 60%, 1) !important;
    background-color: hsla(0, 0%, 25%, 1) !important;
    border-color: transparent !important;
}

.recce-controls-shift-left {
    margin-right: -0.5rem;
}

.debug-on {
    background-color: rgba(255, 255, 255, 1.0) !important;
    color: rgba(0, 0, 0, 0.43) !important;
    font-weight: bold;
}

/* .debug-up-arr { */
.pacenote-forward {
    background-color: rgba(255, 0, 255, 1.0) !important;
}

/* .debug-down-arr { */
.pacenote-backward {
    background-color: rgba(0, 255, 255, 1.0) !important;
}

.recce-controls-btn:focus {
    box-shadow: none;
}

.recce-controls-btn:active {
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 0.43);
}

.indicators {
    display: flex;
    text-align: center;
}

.dot-indicator {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #CCC;
}

.dot-indicator-label {
    margin-left: -8px;
}

.recording-indicator-on {
    background-color: #ff2c00 !important;
}

.network-indicator-on {
    background-color: #00ff34 !important;
}

.indicator {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 1px;
}

.clickable-indicator {
    margin-top: 0px;
    border: 1px solid #ffffff00;
}

.clickable-indicator:focus {
    box-shadow: none;
}

.clickable-indicator:hover {
    border: 1px solid white;
    cursor: pointer;
}

.clickable-indicator:active {
    background-color: white;
    color: rgba(0, 0, 0, 0.43);
}

#wheelDegrees {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.md-select-dropdown {
    width: 450px;
}

/* .middle-label { */
    /* margin-left: -10px; */
    /* margin-right: 0px; */
/* } */

.cut-fake-click {
    background-color: #ff6600;
}

/* .clear-widget-visible { */
/*     display: block; */
/* } */
/**/
/* .clear-widget-hidden { */
/*     display: none; */
/* } */

.btn-danger {
    background-color: red;
    color: black;
}

.disabled-label {
    color: grey;
}

.pacenote-text-input {
    width: 100%;
}

.btn-drive-edit {
    width: 66px;
}
