.ai-pacenotes-recce {
    font-family: monospace;
    /* margin: 8px; */
    /* padding: 0px; */
    width: 100%;
    height: 100%;
}

.m-10 {
    margin: 10px;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center
}

.small-button-widget:not(:first-child) {
    margin-left: 10px;
}

.small-button-widget:child {
    margin-left: 10px;
}
.small-button-widget > *:not(:last-child) {
    margin-right: 4px;
}

.small-button-widget button {
    font-family: monospace;
    border: 1px solid rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.0);
}

/* .flex-row { */
    /* flex-direction: row; */
/* } */

/* .recce-controls { */
/* } */

/* .recce-control { */
    /* border-bottom: 1px solid white; */
    /* margin: 0.5em 1em 0em 1em; */
    /* padding: 0.5em 0em 0em 0em; */
/* } */

.btn-disabled {
/* .recce-controls-btn[disabled] { */
    /* background-color: rgba(55, 55, 55, 1.0) !important; */
    /* color: rgba(0, 0, 0, 0.43) !important; */
    color: hsla(0, 0%, 60%, 1) !important;
    background-color: hsla(0, 0%, 25%, 1) !important;
    border-color: transparent !important;
}

.recce-controls-btn {
    font-family: monospace;
    border: 1px solid rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(0, 0, 0, 0.0);
    /* margin: 1px; */
}

/* .recce-controls-btn:not(:last-child) { */
/*     margin-right: 10px */
/* } */

.recce-toolbar {
    margin: 4px;
    min-height: 28px;
    height: 28px;
}

.recce-toolbar > *:not(:last-child) {
    margin-right: 10px
}

/* .recce-controls-shift-left { */
    /* margin-right: -0.5rem; */
/* } */

.mission-select {
    border: 2px solid white;
    border-radius: 4px;
    padding: 1px;
    padding-bottom: 2px;
    margin: 4px;
    width: 450px;
}

md-select:not([disabled]):focus .md-select-value {
    border-bottom: none;
    padding-bottom: 2px;
}

.debug-on {
    background-color: rgba(255, 255, 255, 1.0) !important;
    color: rgba(0, 0, 0, 0.43) !important;
    font-weight: bold;
}

.pacenote-forward {
    background-color: rgba(255, 0, 255, 1.0) !important;
}

.pacenote-backward {
    background-color: rgba(0, 255, 255, 1.0) !important;
}

.recce-controls-btn:hover {
    border-color: white;
}

.recce-controls-btn:focus {
    box-shadow: none;
}

.recce-controls-btn:active {
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 0.43);
}

.indicators {
    display: flex;
    text-align: center;
}

.dot-indicator {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #CCC;
}

.dot-indicator-label {
    margin-left: -8px;
}

.recording-indicator-on {
    background-color: #ff2c00 !important;
}

.indicator {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 1px;
}

.cut-fake-click {
    background-color: #ff6600;
}

.btn-danger {
    background-color: red;
    color: black;
}

.disabled-label {
    color: grey;
}

.btn-drive-edit {
    width: 66px;
}

.pacenote-text-input {
    width: 530px;
    border: 2px solid white;
    border-radius: 4px;
    transition: none;
    padding: 2px;
    font-size: 18px;
}

.pacenote-text-input:focus {
    /* border-bottom-color: orange; */
    /* border-bottom-width: 2px; */
    border: 2px solid var(--bng-orange);
}

.pacenote-text-input:disabled {
    border: 2px solid grey;
}

.f5-fix {
    font-style: italic;
    color: var(--bng-orange);
    font-size: 17px;
    width: 73%;
    text-align: right;
}
