<div class="bngApp md-padding" style="width: 100%; height: 100%; font-size: 1.4em;" layout="column" layout-align="center center">
  <link type="text/css" rel="stylesheet" href="/ui/modules/apps/AiPacenotesRecce/app.css" />
  <div class="ai-pacenotes-recce flex flex-col">
    <div class="flex flex-col m-10">

      <div class="recce-toolbar flex align-center">
        <div class="indicator">
          <span class="dot-indicator" ng-class="{'recording-indicator-on': isRecording}"></span>
          <span class="dot-indicator-label">rec</span>
        </div>

        <button ng-click="btnRecordStart()" class="recce-controls-btn" ng-disabled="!missionIsLoaded || isRecording || drawDebugSnaproads">start</button>
        <button ng-click="btnRecordStop()" class="recce-controls-btn" ng-disabled="!missionIsLoaded || !isRecording || drawDebugSnaproads">stop</button>
        <button ng-click="btnRecordCut()" id='cut-btn' class="recce-controls-btn" ng-disabled="!missionIsLoaded || !isRecording || drawDebugSnaproads">cut</button>

        <md-checkbox ng-model="recordDriveline" ng-disabled="!missionIsLoaded || isRecording || drawDebugSnaproads">driveline</md-checkbox>
        <md-checkbox ng-model="recordVoice" ng-disabled="!missionIsLoaded || isRecording || drawDebugSnaproads">voice</md-checkbox>

        <button ng-click="btnClear1()" class="recce-controls-btn" ng-disabled="!missionIsLoaded || isRecording || drawDebugSnaproads">{{ clear1Enabled ? "cancel" : "clear" }}</button>

        <button ng-show="clear1Enabled" ng-click="btnClearAll()" class="recce-controls-btn btn-danger" ng-disabled="!missionIsLoaded || isRecording || !clear1Enabled || drawDebugSnaproads">clear</button>
      </div>

      <div class="recce-toolbar flex flex-col" style="height: 52px; min-height: 52px;">
        <div class="flex align-center">
          <form ng-submit="submitPacenoteForm()" class="w-full">
            <!-- <input type="text" id="pacenote-input" ng-model="pacenoteText" class="pacenote-text-input" ng-disabled="!allowPacenoteTextEditing()" /> -->
            <!-- <input type="text" ng-model="pacenoteText" class="pacenote-text-input" ng-keydown="handleKeyDown($event)" /> -->
            <!-- <input type="text" /> -->

            <input type="text" id="pacenoteInput" class="pacenote-text-input" ng-disabled="!allowPacenoteTextEditing()" />
            <span id="savedNotifier" style="visibility: hidden;">saved</span>

            <!-- <input type="text" ng-model="pacenoteText" class="pacenote-text-input" /> -->
            <!-- <button type="submit">Save</button> -->
          </form>
        </div>
        <div class="f5-fix">Press F5 if the text field stops working.</div>
      </div>

      <div class="recce-toolbar flex align-center">
        <md-select class="md-select-dropdown codriver-wait" ng-model="selectedCodriverWait"  ng-disabled="!allowPacenoteTextEditing()">
          <md-option ng-value="codriverWaitValue" ng-repeat="codriverWaitValue in codriverWaitValues">{{::codriverWaitValue}}</md-option>
        </md-select>
      </div>

      <div class="recce-toolbar flex align-center">
        <!-- <button ng-click="btnRefreshCornerAngles()" class="recce-controls-btn">refresh angles</button> -->

        <button ng-click="btnToggleShowNotes()" class="recce-controls-btn" ng-disabled="!missionIsLoaded || drawDebugSnaproads" ng-class="{'debug-on': showNotes && !drawDebugSnaproads, 'btn-disabled': drawDebugSnaproads}">
          {{ showNotes ? 'hide notes' : 'show notes' }}
        </button>
        <button ng-click="btnToggleSnaproadsDrawDebug()" class="recce-controls-btn btn-drive-edit" ng-disabled="!missionIsLoaded || !showNotes" ng-class="{'debug-on': drawDebugSnaproads}">
          {{ drawDebugSnaproads ? 'drive' : 'edit' }}
        </button>

        <div class="flex align-center small-button-widget">
          <span class="" ng-class="{'disabled-label': !showNotes || !drawDebugSnaproads}">MoveAT</span>
          <button ng-click="btnMovePacenoteATForward()" class="pacenote-forward" ng-disabled="!showNotes || !drawDebugSnaproads">&uarr;</button>
          <button ng-click="btnMovePacenoteATBackward()" class="pacenote-backward" ng-disabled="!showNotes || !drawDebugSnaproads">&darr;</button>
        </div>

        <div class="flex align-center small-button-widget">
          <span class="" ng-class="{'disabled-label': !showNotes || !drawDebugSnaproads}">Pacenote</span>
          <button ng-click="btnMovePacenoteSelectionForward()" ng-disabled="!showNotes || !drawDebugSnaproads">&uarr;</button>
          <button ng-click="btnMovePacenoteSelectionBackward()" ng-disabled="!showNotes || !drawDebugSnaproads">&darr;</button>
          <button ng-click="btnMovePacenoteSelectionToVehicle()" ng-disabled="!showNotes || !drawDebugSnaproads">P&rarr;V</button>
        </div>

        <div class="flex align-center small-button-widget">
          <span class="" ng-class="{'disabled-label': !missionIsLoaded}">Vehicle</span>
          <button ng-click="btnMoveVehicleForward()" ng-disabled="!missionIsLoaded">&uarr;</button>
          <button ng-click="btnMoveVehicleBackward()" ng-disabled="!missionIsLoaded">&darr;</button>
          <button ng-click="btnMoveVehicleToSelectedPacenote()" ng-disabled="!showNotes || !drawDebugSnaproads">V&rarr;P</button>
        </div>

        <!-- <md-select class="md-select-dropdown" ng-model="selectedStyleName"> -->
        <!--   <md-option ng-value="name" ng-repeat="name in dropdownStyleNames">{{::name}}</md-option> -->
        <!-- </md-select> -->
      </div>

      <div class="recce-toolbar flex align-center">
        <button ng-click="btnLoadMission()" class="recce-controls-btn" ng-disabled="missions.length === 0">load</button>
        <button ng-click="btnUnloadMission()" class="recce-controls-btn" ng-disabled="missions.length === 0">unload</button>
        <span>{{ missionIsLoaded ? "current mission: "+loadedMissionName : "no mission loaded"}}</span>
      </div>

      <div class="recce-toolbar flex align-center">
        <button ng-click="btnRefreshMissions()" class="recce-controls-btn">refresh missions</button>
        <md-select class="md-select-dropdown mission-select" ng-model="selectedMissionName">
          <md-option ng-value="missionName" ng-repeat="missionName in dropdownMissionNames">{{::missionName}}</md-option>
        </md-select>
      </div>

    </div>
  </div>
</div>
